body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u77 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:32px;
  top:745px;
  width:687px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u79 {
  position:absolute;
  left:105px;
  top:1224px;
  width:149px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u80 {
  position:absolute;
  left:308px;
  top:1219px;
  width:131px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u81 {
  position:absolute;
  left:508px;
  top:1222px;
  width:116px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
