body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u345 {
  position:absolute;
  left:0px;
  top:61px;
  width:750px;
  height:1334px;
}
#u346 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u347 {
  position:absolute;
  left:6px;
  top:186px;
  width:372px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u348 {
  position:absolute;
  left:431px;
  top:186px;
  width:298px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u349 {
  position:absolute;
  left:577px;
  top:738px;
  width:152px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u350 {
  position:absolute;
  left:17px;
  top:106px;
  width:199px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
