body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u125 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:31px;
  top:584px;
  width:692px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u127 {
  position:absolute;
  left:12px;
  top:37px;
  width:125px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
