body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u109 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:33px;
  top:612px;
  width:689px;
  height:91px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u111 {
  position:absolute;
  left:23px;
  top:46px;
  width:100px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
