body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u20 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:32px;
  top:809px;
  width:684px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:17px;
  top:34px;
  width:133px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
