body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u95 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:29px;
  top:709px;
  width:694px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u97 {
  position:absolute;
  left:16px;
  top:34px;
  width:139px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
