body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u91 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:27px;
  top:943px;
  width:696px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u93 {
  position:absolute;
  left:16px;
  top:38px;
  width:122px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
