body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u184 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:7px;
  top:56px;
  width:142px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u186 {
  position:absolute;
  left:0px;
  top:127px;
  width:750px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
