body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u318 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u319 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320 {
  position:absolute;
  left:19px;
  top:54px;
  width:131px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u321 {
  position:absolute;
  left:34px;
  top:482px;
  width:696px;
  height:96px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
