body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u186 {
  position:absolute;
  left:0px;
  top:57px;
  width:750px;
  height:1334px;
}
#u187 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:15px;
  top:114px;
  width:109px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u189 {
  position:absolute;
  left:31px;
  top:1138px;
  width:694px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
