body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u282 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283 {
  position:absolute;
  left:0px;
  top:56px;
  width:132px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u284 {
  position:absolute;
  left:33px;
  top:485px;
  width:699px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
