body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u376 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u377 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378 {
  position:absolute;
  left:24px;
  top:562px;
  width:705px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u379 {
  position:absolute;
  left:10px;
  top:58px;
  width:144px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
