body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u85 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:30px;
  top:441px;
  width:687px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u87 {
  position:absolute;
  left:17px;
  top:37px;
  width:123px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
