body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:732px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u409 {
  position:absolute;
  left:-9px;
  top:11px;
  width:750px;
  height:1334px;
}
#u410 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411 {
  position:absolute;
  left:13px;
  top:61px;
  width:119px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
