body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u251 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:16px;
  top:51px;
  width:132px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u253 {
  position:absolute;
  left:34px;
  top:1019px;
  width:693px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
