body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u600 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u601 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602 {
  position:absolute;
  left:28px;
  top:443px;
  width:700px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u603 {
  position:absolute;
  left:15px;
  top:58px;
  width:142px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
