body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u357 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u358 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359 {
  position:absolute;
  left:24px;
  top:49px;
  width:84px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u360 {
  position:absolute;
  left:31px;
  top:483px;
  width:691px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
