body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u393 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u394 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395 {
  position:absolute;
  left:33px;
  top:693px;
  width:690px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u396 {
  position:absolute;
  left:0px;
  top:47px;
  width:134px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
