body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u150 {
  position:absolute;
  left:50px;
  top:105px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  position:absolute;
  left:173px;
  top:105px;
  width:27px;
  height:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#006600;
}
#u154 {
  position:absolute;
  left:290px;
  top:105px;
  width:40px;
  height:16px;
  color:#006600;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u157 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:67px;
  top:136px;
  width:133px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u159 {
  position:absolute;
  left:309px;
  top:131px;
  width:145px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u160 {
  position:absolute;
  left:508px;
  top:136px;
  width:233px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u161 {
  position:absolute;
  left:13px;
  top:56px;
  width:129px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u162 {
  position:absolute;
  left:587px;
  top:395px;
  width:133px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u163 {
  position:absolute;
  left:0px;
  top:1114px;
  visibility:hidden;
}
#u163_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u163_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:220px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:220px;
}
#u165 {
  position:absolute;
  left:2px;
  top:102px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:0px;
  top:1274px;
  width:750px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
