body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u167 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:17px;
  top:56px;
  width:93px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u169 {
  position:absolute;
  left:35px;
  top:646px;
  width:684px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
