body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u447 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u448 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449 {
  position:absolute;
  left:8px;
  top:53px;
  width:132px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u450 {
  position:absolute;
  left:26px;
  top:396px;
  width:696px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
