body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u285 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u286 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287 {
  position:absolute;
  left:18px;
  top:62px;
  width:163px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
