body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u556 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u557 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u558 {
  position:absolute;
  left:18px;
  top:55px;
  width:110px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u559 {
  position:absolute;
  left:654px;
  top:49px;
  width:79px;
  height:69px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:81px;
}
#u560 {
  position:absolute;
  left:0px;
  top:406px;
  width:750px;
  height:81px;
}
#u561 {
  position:absolute;
  left:2px;
  top:32px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562 {
  position:absolute;
  left:480px;
  top:425px;
  width:92px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u563 {
  position:absolute;
  left:596px;
  top:425px;
  width:100px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u564 {
  position:absolute;
  left:10px;
  top:251px;
  width:732px;
  height:69px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:300px;
}
#u565 {
  position:absolute;
  left:0px;
  top:1034px;
  width:750px;
  height:300px;
}
#u566 {
  position:absolute;
  left:2px;
  top:142px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567 {
  position:absolute;
  left:376px;
  top:1254px;
  width:374px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u568 {
  position:absolute;
  left:2px;
  top:1254px;
  width:374px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
