body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u403 {
  position:absolute;
  left:48px;
  top:395px;
  width:52px;
  height:15px;
}
#u404 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u405 {
  position:absolute;
  left:203px;
  top:395px;
  width:27px;
  height:15px;
}
#u406 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u407 {
  position:absolute;
  left:130px;
  top:395px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u408 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u409 {
  position:absolute;
  left:50px;
  top:90px;
  width:50px;
  height:50px;
}
#u410 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u411 {
  position:absolute;
  left:118px;
  top:95px;
  width:59px;
  height:15px;
}
#u412 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u413 {
  position:absolute;
  left:50px;
  top:247px;
  width:50px;
  height:50px;
}
#u414 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u415 {
  position:absolute;
  left:118px;
  top:252px;
  width:59px;
  height:15px;
}
#u416 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u417 {
  position:absolute;
  left:166px;
  top:160px;
  width:64px;
  height:25px;
}
#u417_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u417_input {
  font-family:'应用字体';
}
#u418 {
  position:absolute;
  left:160px;
  top:315px;
  width:64px;
  height:25px;
}
#u418_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u418_input {
  font-family:'应用字体';
}
