body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u371 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u372 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373 {
  position:absolute;
  left:30px;
  top:564px;
  width:694px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u374 {
  position:absolute;
  left:12px;
  top:49px;
  width:136px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
