body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u321 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u322 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323 {
  position:absolute;
  left:19px;
  top:56px;
  width:100px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u324 {
  position:absolute;
  left:31px;
  top:401px;
  width:692px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
