body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u87 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:33px;
  top:472px;
  width:685px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u89 {
  position:absolute;
  left:11px;
  top:38px;
  width:111px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
