body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u16 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:33px;
  top:471px;
  width:684px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:14px;
  top:29px;
  width:147px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
