body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u256 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:13px;
  top:38px;
  width:158px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u258 {
  position:absolute;
  left:265px;
  top:198px;
  width:221px;
  height:16px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:352px;
}
#u260 {
  position:absolute;
  left:198px;
  top:171px;
  width:312px;
  height:352px;
}
#u261 {
  position:absolute;
  left:2px;
  top:168px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
