body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u667 {
  position:absolute;
  left:30px;
  top:20px;
  width:405px;
  height:95px;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u669 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u670 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u671 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u672 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u673 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u674 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u675 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u676 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u677 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u678 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u679 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u680 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u681 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u682 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u683 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u684 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u685 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u686 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u687 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u688 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u689 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u690 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
}
#u691 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
