body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u103 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:28px;
  top:486px;
  width:695px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u105 {
  position:absolute;
  left:13px;
  top:33px;
  width:100px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
