body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u99 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:25px;
  top:445px;
  width:705px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u101 {
  position:absolute;
  left:16px;
  top:34px;
  width:117px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
