body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u191 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:23px;
  top:812px;
  width:697px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u193 {
  position:absolute;
  left:16px;
  top:60px;
  width:107px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
