body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u208 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:75px;
  top:1237px;
  width:107px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u210 {
  position:absolute;
  left:325px;
  top:1237px;
  width:133px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u211 {
  position:absolute;
  left:563px;
  top:1237px;
  width:131px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u212 {
  position:absolute;
  left:19px;
  top:488px;
  width:731px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u213 {
  position:absolute;
  left:19px;
  top:569px;
  width:722px;
  height:79px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u214 {
  position:absolute;
  left:19px;
  top:728px;
  width:731px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u215 {
  position:absolute;
  left:19px;
  top:809px;
  width:722px;
  height:79px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u216 {
  position:absolute;
  left:19px;
  top:127px;
  width:722px;
  height:199px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u217 {
  position:absolute;
  left:19px;
  top:968px;
  width:722px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
