body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u216 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:25px;
  top:54px;
  width:103px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u218 {
  position:absolute;
  left:25px;
  top:360px;
  width:705px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
