body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u12 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:37px;
  top:446px;
  width:683px;
  height:79px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:14px;
  top:32px;
  width:134px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
