body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:748px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:1334px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:1334px;
}
#u6 {
  position:absolute;
  left:2px;
  top:659px;
  width:744px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:33px;
  top:714px;
  width:679px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:111px;
  top:1226px;
  width:112px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:307px;
  top:1226px;
  width:123px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:501px;
  top:1226px;
  width:116px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
